In [23]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [24]:
df = pd.read_csv(r'C:\Users\kaila\OneDrive\Desktop\iris.csv')

In [25]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
logistic = LogisticRegression()

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

In [30]:
from sklearn.decomposition import PCA

In [31]:
pca = PCA(n_components=3)

In [32]:
#Importing Pipeline
from sklearn.pipeline import Pipeline

In [33]:
#Machine Learning Pipeline
pipe = Pipeline(steps=[('scaler',scaler),('pca',pca),('logistic',logistic)])

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['variety'] = le.fit_transform(df['variety'])
df[['variety']].head()

   variety
0        0
1        0
2        0
3        0
4        0

In [36]:
X = df.drop('variety',axis=1)
y = df[['variety']]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)
pipe.fit(X_train,y_train)
pipe_pred = pipe.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y_test,pipe_pred)*100

95.55555555555556

In [41]:
pipe.score(X_train,y_train)*100

96.19047619047619

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [51]:
rf = RandomForestClassifier(criterion='entropy',max_depth=11,n_estimators=500)

In [52]:
pipe_rf = Pipeline(steps=[('scaler',scaler),('pca',pca),('rf',rf)])
pipe_rf.fit(X_train,y_train)
pipe_pred = pipe_rf.predict(X_test)

In [53]:
accuracy_score(y_test,pipe_pred)*100

95.55555555555556

In [54]:
pipe.score(X_train,y_train)*100

96.19047619047619